<!DOCTYPE html>
<html lang="en" ng-app="infoMonitorApp">
    <head>
        <title>www.inlinehalle.ch - INFO Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/animate/animate.min.css" rel="stylesheet" media="screen">
        <link href="css/footer.css" rel="stylesheet" media="screen">
        <link href="css/lockerroomtable.css" rel="stylesheet" media="screen">
        <link href="css/latestresulttable.css" rel="stylesheet" media="screen">
        <link href="css/base.css" rel="stylesheet" media="screen">
        <link href="css/content.css" rel="stylesheet" media="screen">
        <!-- Bootstrap -->
        <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->

    </head>
    <body>
        <div id="container"></div>
        <div id="lockerrooms" ng-controller="LockerRoomCtrl as lockerRoomCtrl">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-monitor">
                    <span class="lockerroom-title-icon"><img src="img/kabine.jpg" width="32px" height="32px"></span>
                    <span>Einteilung f&uuml;r die n&auml;chsten Spiele <span ng-show="!!lockerRoomCtrl.date">-</span> <b>{{lockerRoomCtrl.date}}</b></span>
                </div>
                <!-- Table -->
                <table ng-table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center;">Kabine</th>
                            <th style="vertical-align: middle; text-align: center;">Spielbeginn</th>
                            <th>Mannschaft</th>
                            <th>Liga</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="lockerroom in lockerRoomCtrl.lockerrooms">
                        <td data-title="'Nr'" style="vertical-align: middle; text-align: center;"><img ng-src="img/locker{{lockerroom.Garderobe}}.png" width="160px" height="20px"></td>
                        <td data-title="'Zeit'" style="vertical-align: middle; text-align: center;">{{lockerroom.Zeit}}</td>
                        <td data-title="'Team'">{{lockerroom.Team}}</td>
                        <td data-title="'Liga'">{{lockerroom.Liga}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="lastresults" ng-controller="LatestResultsCtrl as latestResultsCtrl">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading panel-heading-monitor">
                    <span class="results-title-icon"><img src="img/ihs.png" width="60px" height="30px"></span>
                    <span>Inline Hockey Schweiz - Aktuelle Resultate</span>
                </div>
                <!-- Result List -->
                <!-- Table -->
                <table ng-table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center;">Liga</th>
                            <th>Heim</th>
                            <th>Gast</th>
                            <th>Resultat</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="result in latestResultsCtrl.results" class="repeat-animation">
                        <td data-title="'Liga'" style="vertical-align: middle; text-align: center;">{{result.Liga}}</td>
                        <td data-title="'Heim'">{{result.Heim}}</td>
                        <td data-title="'Gast'">{{result.Gast}}</td>
                        <td data-title="'Resultat'"><b>{{result.Resultat}}</b> ({{result.Resultat1}}, {{result.Resultat2}})</td>
                    </tr>
                </table>               
            </div>
        </div>


        <div id="content" ng-controller="ContentCtrl as contentCtrl">
            <div style="text-align: center;">  
                <!-- <iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=980&amp;wkst=2&amp;bgcolor=%23ffff66&amp;src=michael.friedli%40hispeed.ch&amp;color=%230D7813&amp;ctz=Europe%2FZurich" style=" border:solid 1px #777 " width="1300" height="800" frameborder="0" scrolling="no"></iframe>
                --> 
                <div ng-if="contentCtrl.showImage" class="repeat-content-animation">
                    <span style="vertical-align: middle;">
                        <img ng-src="{{contentCtrl.contentUrl}}" height="{{contentCtrl.content.height}}" width="{{contentCtrl.content.width}}">
                    </span>
                </div>
                
                <div ng-if="contentCtrl.showWebpage" class="repeat-content-animation">
                    <span style="vertical-align: middle;"> 
                        <iframe ng-src="{{contentCtrl.contentUrl}}" type="text/html" style="border:solid 1px #777" height="{{contentCtrl.content.height}}" width="{{contentCtrl.content.width}}" frameborder="0" scrolling="no"></iframe>
                    </span>
                </div>
                
                <div ng-if="contentCtrl.showVideo" class="repeat-content-animation">
                    <span style="vertical-align: middle;">
                        <video autoplay="true" width="{{contentCtrl.content.height}}" height="{{contentCtrl.content.height}}">
                            <source src="{{contentCtrl.contentUrl}}" type="video/mp4">
                        </video>
                    </span>
                </div>

            </div> 
        </div>

        <div id="footer-left">
            <div class="footer-img-left"><img src="img/dragon_yellow.png" width="152px"></div>
        </div>
        <div id="footer" ng-controller="TotomatCtrl as totomatCtrl"> 
         <div class="footer-margin">            
            <div class="totomat" ng-if="totomatCtrl.totomatResults.length > 0">
                <marquee behavior="scroll" scrolldelay="200" loop="" direction="left">
                    Totomat:
                    <span ng-repeat="result in totomatCtrl.totomatResults">
                        <b>{{result.Liga}}:</b>
                        {{result.Heim}}-{{result.Gast}} 
                        <span ng-show="{{result.IsRunning}}" style="color: red;"> *</span>
                        <b>{{result.Resultat}}</b>                         
                        ({{result.Resultat1}};{{result.Resultat2}}) 
                         <span ng-if="totomatCtrl.totomatResults.length > 1"> / </span>                 
                    </span>
                </marquee>
            </div>
            <div class="breakingnews" ng-controller="BreakingNewsCtrl as breakingNewsCtrl">
                 <span ng-class="breakingNewsCtrl.cssClass" ng-if="breakingNewsCtrl.breakingNews.length > 0">
                    {{breakingNewsCtrl.breakingNews[0].Text}}</span>    
            </div>            
         </div>        
        </div>
        <div id="footer-right">
            <div class="footer-img-right"><img src="img/raiffeisen_arena.png" width="154" height="35"></div>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="lib/jquery/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/content.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/websockets.js"></script> 
    </body>
</html>

