body {
    background-color:#b0c4de;
}

#container {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute; 
    z-index: 1;
    background-color: black;
}

#lockerrooms {
    z-index: 2;
    width: 605px;
    height: 300px;
    position:absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    display: block;
}

#lastresults {
    z-index: 2;
    position:absolute;
    left: 5px;
    top: 305px;
    width: 605px;
    height: 640px;
    margin-top: 15px;
    background-color: black;
}

#content {
    z-index: 2;
    position: absolute;
    left: 615px;
    width: 1300px;
    height: 950px;
    top: 5px;
    background-color: black;
}
#footer-left {
    z-index: 2;
    position: absolute;
    top: 960px;
    height: 115px;
    width: 160px;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    background-color: #D9D5D5;
}
#footer {
    z-index: 2;
    position: absolute;
    top: 960px;
    height: 115px;
    width: 1590px;
    margin-left: 160px;
    margin-right: 0px;
    margin-bottom: 5px;
    background-color: #D9D5D5;
}
#footer-right {
    z-index: 2;
    position: absolute;
    top: 960px;
    height: 115px;
    width: 165px;
    margin-left: 1750px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #D9D5D5;
}
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.css3-blink {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: ifinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,1.0,1.0,1.0);
  -webkit-animation-duration: 8s; 
}	